<?xml version='1.0' encoding='utf-8'?>
<widget id="com.occultabjadcalculator.occultapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Okült Ebced Hesaplayıcı</name>
    <description>Arapça ve İbranice için ebced hesaplama, Usul-ul bast döngüleri ve Vazifeli Hadim ismi okuma işlemleri. Hızlı, pratik ve ücretsiz!</description>
    <author email="maviveyesil83@gmail.com" href="https://one.fanclub.rocks">
        Abdil Murat ÜNALAN
    </author>
    <platform name="android">
		<icon src="platforms/android/app/src/main/res/icon/android/icon-48-mdpi.png" density="mdpi" />
		<icon src="platforms/android/app/src/main/res/icon/android/icon-72-hdpi.png" density="hdpi" />
		<icon src="platforms/android/app/src/main/res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
		<icon src="platforms/android/app/src/main/res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" />
		<icon src="platforms/android/app/src/main/res/icon/android/icon-192-xxxhdpi.png" density="xxxhdpi" />
	</platform>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
